img {
  width: 35%;
  padding: 2%;
  padding-bottom: 0;
}

.Movie-Page {
  background-size: cover;
  display: flex;
  /* justify-content: center; */
  flex-direction: column 2;
}

.Movie-Page-Container {
  align-items: center;
  background: rgba(255, 255, 255, 0.774);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 3%;
  width: 90%;
}

.movie-body {
  align-content: center;
  color: black;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.movie-details {
  display: grid;
  color: black;
  grid-gap: 1%;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2%;
}

.addRatingForm {
  width: 100%;
}

.MoviePage-rating-box {
  height: auto;
  width: 150px;
  border-radius: 10px;
  align-self: center;
  background-color: white;
}

.MoviePage-rating-text {
  font-size: 30px;
  color: rgb(9, 67, 255);
  margin-top: 10px;
  margin-bottom: 0;
}
