img {
  width: 35%;
  padding: 2%;
  padding-bottom: 0;
}

.Movie-Page {
  background-size: cover;
  display: flex;
  justify-content: center;
}

.Movie-Page-Container {
  align-items: center;
  background: rgba(255,255,255,0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 3%;
  width: 50%;
}

.movie-body {
  align-content: center;
  color: black;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.movie-details {
  display: grid;
  color: black;
  grid-gap: 1%;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2%;
}
