body {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-login-button {
  height: 30px;
  margin: 40px;
  margin-top: 60px;
}
