.RatingForm {
  width: 40%;
  align-items: center;
  background: rgba(255,255,255,0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.RatingForm-form {
  color: black;
  /* width: border-box; */
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  height: 20px;
  font-size: 20px;
}

h4 {
  margin: 0;
}

button {
  width: 25%
}

.RatingForm-dropdown {
  border-radius: 5px;
  height: 30px;
  font-size: 20px;
  /* width: 30%; */
}

.RatingForm-form,
h4,
select,
button {
  margin-bottom: 0.5em;
}
